<div id="wrapper">
  <div id="left">
    <%= form_tag '/', :method => 'POST' do %>
       <%= text_area_tag "commands", nil, :size => "25x5" %><br />
       <%= submit_tag "Move!" %>
    <% end %>
    <% if @commands %>
      <div id="ruby"><p>Good job! I also got <span><%= @rover_one %></span> and <span><%= @rover_two %></span></p></div>
      <p>Size: <%= @commands[0] %></p>
      <p>Rover 1 Start: <%= @commands[1] %></p>
      <p>Rover 1 End: <%= @rover_one %></p>
      <p>Rover 2 Start: <%= @commands[3] %></p>
      <p>Rover 2 End: <%= @rover_two %></p>
    <% end %>
  </div>
  <div id="right">
  </div>
  <img id="rover_one" src="/images/bender.gif" />
  <img id="rover_two" src="/images/r2d2.gif" />
  <img id="compass" src="/images/compass.png" />
</div>